button.st-emotion-cache-7ym5gk.ef3psqc12{
    color: #FAFAFA;
    background-color: #3D30A2;
    border-radius: 15px;
}

div.st-emotion-cache-zt5igj.e1nzilvr4{
    color: #3D30A2;
    font-family: Satoshi;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

div.st-emotion-cache-16idsys.e1nzilvr5{
    color: #9747FF;
    font-family: Satoshi;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    margin: auto;
}

div.st-av.st-ay.st-aw.st-ax.st-bg.st-bi.st-b9.st-b4.st-b5.st-bj.st-bk.st-bl.st-bm.st-bn.st-bo.st-bp.st-bq.st-br.st-bs.st-b2.st-bt.st-bu.st-bv.st-bw.st-bx.st-by.st-bz{
    background-color: #F7F370;
}