p{
    font-size: 14px;
}

h3{
    padding: 0rem 0px 1rem;
}

button.st-emotion-cache-7ym5gk.ef3psqc12{
    color: #FAFAFA;
    background-color: #3D30A2;
    border-radius: 15px;
}

div.st-emotion-cache-16idsys.e1nzilvr5{
    color: #3D30A2;
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

span.st-emotion-cache-10trblm.e1nzilvr1{
    color: #3D30A2;
    font-family: 'Prompt', sans-serif;
    font-size: 45px;
    font-style: normal;
    line-height: normal;
}

div.st-bg.st-bh.st-c0.st-c1.st-c2.st-b4.st-c3.st-c4.st-bi.st-c5.st-c6.st-c7.st-c8{
    background-color: #F7F370;
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
}

div.st-bg.st-bh.st-b4.st-cz.st-c3.st-d0.st-c8{
    background-color: #F7F370;
}

div.st-emotion-cache-1vbkxwb.e1nzilvr5{
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
}
