span.st-emotion-cache-10trblm.e1nzilvr1{
    color: #3D30A2;
    font-family: 'Prompt', sans-serif;
    font-size: 100px;
    font-style: normal;
    line-height: normal;
    text-align: center;
}

button.st-emotion-cache-7ym5gk.ef3psqc12{
    color: #FFA33C;
    background-color: #F7F370;
    border-radius: 15px;
}

div.st-emotion-cache-r421ms.e10yg2by1{
    background-color: #B15EFF;
}

div.st-emotion-cache-16idsys.e1nzilvr5{
    color: #FAFAFA;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    display: block;
    margin: auto;
}

button.st-emotion-cache-7ym5gk.ef3psqc7{
    color: #FFA33C;
    background-color: #F7F370;
    border-radius: 15px;
    display: block;
    margin: auto;
}

div.st-emotion-cache-1vbkxwb.e1nzilvr5{
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
}

input.st-bg.st-c1.st-c2.st-c3.st-c4.st-c5.st-c6.st-c7.st-c8.st-c9.st-ca.st-b9.st-cb.st-cc.st-cd.st-ce.st-cf.st-cg.st-ch.st-ci.st-ae.st-af.st-ag.st-cj.st-ai.st-aj.st-c0.st-ck.st-cl.st-cm{
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
}